@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #d1d1d1;
    background: #1d1d20;
}

.sidebar{
    position: absolute;
    /* background-color: peachpuff; */
     height: 100vh;
    /* width: 400px; */
    /*changed from 10vh to 420px in order to improve responsiveness*/
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;

}
.sidebar nav{
    padding: 20px 20px 20px 20px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0 ;
    height: 5vh;
}
.sidebar nav li a{
    text-decoration: none;
    color: #d1d1d1;
    background: #1d1d20;
}
.main{
    /* background-color: aquamarine; */
    width: 90vw;
    padding: 20px;
}
.container{
    display: flex;
}
.infoContainer{
   /* background-color: burlywood; */
    height: 50vh;
    margin: 100px auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 2.5em;
}
.name{
    font-size: 2.5em;
    font-weight: bold;
     font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 2em;
}
.moreabout{
    font-size: 1.5em;
     font-family: 'Fira Sans', sans-serif;
     margin-top: 20px;
}
.buttons{
    margin-top: 2.2em;
    font-size: 13px;
}
.btn{
    padding: 10px;
    font-size: 2em;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 3px 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    margin: 8px 0;
   padding: 9px 18px;
}
.btn:hover{
   background-color:  white;
    color: black;
}
.devPic img {
   height: 50vh;  
}
/* Lets style the contact form*/
.contactform{
    margin: 0 60px;
   font-family: 'Fira Sans', sans-serif;
   padding: 0 34px;/*top-bottom = 0 and left-right = 34px*/
   /*overwriting the padding*/
   /* padding-top: 30px; */
}
.contactform h1{
   font-family: 'Source Code Pro', monospace;
   /* padding: 10px 0; */
   font-weight: bold;  
   /* top-bottom = 10px while left-right = 0 */
   /* text-align: center; */
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    /* width: 25vw; */
    border-radius: 5px ;
    margin: 5px 0 0 0;
    padding: 3px;
}
.contactform form{

    margin:0 25px;
    
}
#emailHelp{
    font-size: 8px;
    color: rgb(234, 244, 244);
    margin: 0 4px;
}
#form-check{
 flex-direction: row;
}
#form-check input{/*made it id to be more specific*/
  width: 24px ;
  margin: 3px 0;
} 
/* .blogcontainer{
    background-color: rgb(14, 138, 162);
} */

.blogItem{
    margin: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}
.blogContainer{
    margin: 0  60px;
}
 h1{
   font-family: 'Source Code Pro', monospace;
   margin: 18px;
}
 p{
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}
.intro{
    margin: 30px 60px;
}
.intro h2{
       font-family: 'Source Code Pro', monospace;
       margin: 8px;
}
.intro p{
      font-family: 'Source Code Pro', monospace;
      margin: 8px;
}
.skillContainer{
    padding: 12px;
    font-size: large;
}
.skillItem{
    display: flex;
    align-items : center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
.skill{
    background-color: aquamarine;
    width: 15vw;
    height: 1vh;
}
.t5{
  width: 2.5vw;
  background-color: blue;
}
.seventyFive{
  width: 7.5vw ;
  background-color: blueviolet;
}
.fifty{
  width: 5.0vw;
  background-color: brown;
}
.myProjects{
   padding: 20px;
   font-size: large;
    list-style: none;
}
.sidebarGo{
    transform: translate(-300px,0);/*so we r basically shifting our sidebar as the page shrinks*/
    position: absolute;
   }
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 8px ;
    left:8px ;
    align-items: inline;
    margin-top: 6px;
    /* color: #d1d1d1; */
    
}
.ham{
    margin-left: 6px;
}
.cross{
   margin-left: 100px;
}
@media  (max-width: 975px){
   /* *{
    background-color: aquamarine;
   } */
   .devPic{
    display: none;
}
.buttons{
    font-size: 4px;
}
.devInfo{
    font-size: 8px;
}
.intro, .blogContainer, .contactform{
    margin:40px 6px;
}
   
}

